.arch {
    width: 100%;
    height: auto;
    background-image: url("../../Assets/arch.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.home-arch-img {
    width: 100%;
    height: auto;
    visibility: hidden;
    z-index: 50;
}

.home-link {
    position: absolute;
    z-index: 100; 
    top: 30%;
}