.arch {
    width: 15rem;
    height: 7.5rem;
    background: var(--dark);
    border-radius: 50% 50% 0 0;
}
.arch::after {
    background: var(--dark);
    position: absolute;
    display: block;
    content: '';
    width: 15rem;
    height: 15rem;
    top: 14rem
}